@import "../sidebar/Sidebar.css";

:root {
    --head-height: 50px;
    --header-width: 100%;
    --header-bg: #eee;
}

.header {
    display: flex;
    width: var(--header-width);
    height: var(--head-height);
    background-color: var(--header-bg);
    align-items: center;
    padding-inline-start: 10px;
}